.profile-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    padding: 0 20px; 
    box-sizing: border-box; 
}

.profile-content {
    display: flex;
    flex-direction: row;
    gap: 390px; 
    max-width: 100%;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.profile-left {
    width: 250px;
    height: auto;
    background-color: green;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    box-sizing: border-box;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-right {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.profile-right h1, .profile-right h2 {
    margin-top: 0;
}

.profile-right form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-right label {
    margin-bottom: 5px;
}

.profile-right input, .profile-right textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; 
}

.profile-right button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-right button:hover {
    background-color: #0056b3;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .profile-container {
        padding: 20px;
    }

    .profile-content {
        flex-direction: column; 
        gap: 20px; 
    }

    .profile-left {
        width: 100%;
        height: auto; 
        margin: 0;
    }

    .profile-right {
        max-width: 100%;
        margin-left: 0; 
    }
}
