.home-header {
  height: 386px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5rem;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(57, 27, 148, 1) 5%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 0 0 25px 25px;
}

.home-header h2 {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  color: white;
}

.home-header .search {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 40%;
  position: relative;
  & .suggestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    position: absolute;
    top: 110%;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: white;
    border-radius: 2rem;
    border: 1px solid gray;
    z-index: 10;
    & .suggestion-ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: auto;
      list-style: none;
      padding: 1rem;
      & li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 50px;
        padding-inline: 20px;
        padding-block: 10px;
        cursor: pointer;
        & p {
          padding: 0 1rem;
        }
      }
    }
  }

  & input {
    padding: 20px 85px 20px 20px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid grey;
  }

  & .icon {
    height: 40px;
    width: 65px;
    padding-inline: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 212, 255, 1);
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}

.selector {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  background-color: white;
  border-radius: 50px;
  padding: 0.5rem 2rem;
}

.selector__list {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  margin: 0 10px;
}

.selector__item {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex-shrink: 0;
  flex-direction: column;
  cursor: pointer;
}

.selector__icon {
  margin-right: 5px;
}

.selector__arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
}

.selector__arrow--left {
  position: absolute;
  left: 0;
}

.selector__arrow--right {
  position: absolute;
  right: 0;
}
.selector__name {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .home-header h2 {
    font-size: 30px;
  }

  .home-header .search {
    width: 80%;
  }

  .home-header .search input {
    padding: 20px 60px 20px 20px;
  }

  .home-header .search .icon {
    height: 40px;
    width: 50px;
  }

  .selector {
    max-width: 90%;
  }
}
